*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #f4f6f9;
    border-radius: 0;
    box-shadow: inset 1px 0 0 0 #f4f6f9;
}
::-webkit-scrollbar-thumb{
    background-color: #d2d2d2;
    border-radius: 6px;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}
.top-drag{
    width: 100%;
    height: 1px;
    background: transparent;
    -webkit-app-region:no-drag;
}

#app{
    width: 100%;
    height: 100%;
}



[v-cloak] {
    display: none;
}

.el-button{
    font-family: 'Microsoft YaHei';
}

/* el-tabs样式 */
.el-tabs--border-card>.el-tabs__header{
    background: transparent;
    border: 0;
}
.el-tabs__nav-wrap{
    margin-bottom:0;
}
.el-tabs__item {
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    border: 0;
}
.el-tabs__nav-next,.el-tabs__nav-prev {
    line-height: 30px;
}
.el-tabs__item .el-icon-close:hover{
    background-color: #b91727 !important;
}
.el-tabs--bottom .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2){
    padding-left: 8px;
}
.el-tabs--bottom .el-tabs--left .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child, .el-tabs--top .el-tabs--left .el-tabs__item:last-child, .el-tabs--top .el-tabs--right .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child{
    padding-right: 8px;
}


/* el-dialog样式 */
.el-dialog__header {
    padding: 10px 10px 5px;
}
.el-dialog__body{
    padding: 0 10px;
}
.el-dialog__headerbtn {
    top: 13px;
    right: 10px;
}


.el-table th div{
    line-height: 28px;
}
.el-input__prefix{
    left: 12px;
}



/* layer样式 */
.layui-layer-title{
    background-color: #b91627!important;
    opacity: 1!important;
    color: #fff!important;
}
.layui-layer-min{
    display:none !important;
}
.layui-layer-max:before {
    content: "\f264";
    font-size:14px !important;
    color:white;
}
.layui-layer-hui{
    background: #b91727!important;
    box-shadow: 0 3px 12px 0px #b91727!important;
    font-size: 14px!important;
    border-radius: 16px!important;
}
.layui-layer-hui .layui-layer-content {
    padding: 4px 25px!important;
}
.layui-layer-btn .layui-layer-btn0{
    border-color: #b91627!important;
    background-color: #b91627!important;
}




/* el-datepicker样式 */
.el-date-picker{
    width: 170px;
}
.el-date-picker__header{
    margin: 2px;
}
.el-date-picker .el-picker-panel__content {
    width: 160px;
    margin: 5px;
    
}
.el-date-table th{
    padding: 0px;
}
.el-date-table td{
    width: 20px;
    height: 20px;
    padding:0;
}
.el-date-table td div{
    height: 20px;
    padding:0;
}
.el-date-table td span {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.el-date-picker__header-label{
    font-size: 13px;
}
.el-picker-panel{
    line-height: 16px;
}
.el-picker-panel__icon-btn{
    padding: 1px 2px;
    margin-top: 5px;
}
.el-date-picker__header--bordered{
    padding-bottom: 5px;  
}
.el-month-table td .cell, .el-year-table td .cell{
    width: 36px;
    height: 20px;
    line-height: 20px;
}
.el-year-table td{
    padding: 7px 3px;
}
.el-month-table td {
    padding: 7px 3px;
}
.el-date-picker__time-header{
    padding: 5px 0;
}
.el-date-picker__editor-wrap .el-input__inner{
    padding: 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.el-time-panel{
    width: 160px;
}
.el-time-panel__footer{
    height: 24px;
    line-height: 20px;
    padding: 2px;
}
.el-time-panel__btn{
    line-height: 20px;
}
.el-picker-panel__link-btn{
    padding: 2px 8px;
}

