*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #f4f6f9;
    border-radius: 0;
    box-shadow: inset 1px 0 0 0 #f4f6f9;
}
::-webkit-scrollbar-thumb{
    background-color: #d2d2d2;
    border-radius: 6px;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}
#app{
    width: 100%;
    height: 100%;
}

[v-cloak] {
    display: none;
}

/* el-tabs样式 */
.el-tabs--border-card>.el-tabs__header{
    background: transparent;
    border: 0;
}
.el-tabs__nav-wrap{
    margin-bottom:0;
}
.el-tabs__item {
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    border: 0;
}
.el-tabs__nav-next,.el-tabs__nav-prev {
    line-height: 30px;
}
.el-tabs__item .el-icon-close:hover{
    background-color: #b91727 !important;
}
.el-tabs--bottom .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2){
    padding-left: 8px;
}
.el-tabs--bottom .el-tabs--left .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child, .el-tabs--top .el-tabs--left .el-tabs__item:last-child, .el-tabs--top .el-tabs--right .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child{
    padding-right: 8px;
}

/* 按钮样式 */
.el-button--primary{
    background-color: #f2f2f2;
    border-color: #dad6d6!important;
    color: #606266;
    border-radius: 0;
}

/* layer样式 */
.layui-layer-title{
    background-color: #b91627!important;
    opacity: 1!important;
    color: #fff!important;
}
.layui-layer-min{
    display:none !important;
}
.layui-layer-max:before {
    content: "\f264";
    font-size:14px !important;
    color:white;
}
.layui-layer-hui{
    background: #b91727!important;
    box-shadow: 0 3px 12px 0px #b91727!important;
    font-size: 14px!important;
    border-radius: 16px!important;
}
.layui-layer-hui .layui-layer-content {
    padding: 4px 25px!important;
}
.layui-layer-btn .layui-layer-btn0{
    border-color: #b91627!important;
    background-color: #b91627!important;
}

